@font-face {
    font-family: 'Nekst';
    src: local('Nekst Regular'), local('Nekst-Regular'),
        url('Nekst-Regular.woff2') format('woff2'),
        url('Nekst-Regular.woff') format('woff'),
        url('Nekst-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }