@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"),
    url("./fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"),
    url("./fonts/Gilroy-Regular/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Mont-Heavy";
  src: local("Mont-Heavy"),
    url("./fonts/Mont-Heavy/Mont-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Mont-SemiBold";
  src: local("Mont-SemiBold"),
    url("./fonts/Mont-SemiBold/Mont-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Nekst-Regular";
  src: local("Nekst-Regular"),
    url("./fonts/Nekst-Regular/Nekst-Regular.woff") format("woff");
}

@font-face {
  font-family: "Nekst-Black";
  src: local("Nekst-Black"),
    url("./fonts/Nekst-Black/Nekst-Black.woff") format("woff");
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  gap: 50px;
}

.app--title {
  font-family: "Nekst-Black";
  font-weight: 900;
  max-width: 750px;
}

.app--inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input--title {
  font-size: 16px;
  font-weight: 400;
  font-family: "Gilroy-Regular";
  line-height: 20px;
  color: #575757;
}

.car-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 430px;
  height: 70px;
  position: relative;
  color: #575757;
  background-color: #F3F3F4;
  border-radius: 1rem;
  font-family: "Nekst-Black";
  font-weight: 900;
  font-size: 30px;
}

.car-price--input {
  width: 100%;
  height: 100%;
  background-color: #F3F3F4;
  border: none;
  color: #575757;
  font-family: "Nekst-Black";
  font-weight: 900;
  font-size: 30px;
  border-radius: 1rem;
  padding: 1.5rem;
}

input:focus-visible {
  background-color: #fff;
  border: 2px solid #F3F3F4;
  outline: none;
}

.initialFeeValue {
  padding: 20px;
}

.initialFeeValuePercent {
  color: #575757;
  background-color: #EBEBEC;
  border: none;
  font-family: "Nekst-Black";
  font-weight: 900;
  font-size: 20px;
  width: 40px;
}

.initialFeeValuePercent:focus-visible {
  background-color: #EBEBEC;
  border: 1px solid #EBEBEC;
}

.valueIn {
  position: absolute;
  right: 0;
  padding: 20px;
}

span:active {
  color: #000000;
}

.initial-fee {
  padding: 0.5rem;
  margin: 0.5rem;
  padding-right: -10px;
  border-radius: 1rem;
  background-color: #EBEBEC;
  display: flex;
}

.app-total--sum, .app-total--monthly-pay {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.app-total--sum-num, .app-total--monthly-pay-num {
  color: #575757;
  font-family: "Nekst-Black";
  font-size: 54px;
  line-height: 90%;
  display: flex;
  align-items: center;
}

button {
  color: #ffffff;
  background-color: #FF9514;
  border: none;
  border-radius: 40px;
  padding: 1rem 2rem;
  font-size: 30px;
  font-family: "Nekst-Black";
  width: 426px;
  height: 68px;
}

button:hover {
  background-color: #000000;
}

button:active {
  background-color: #575757;
}

.btn-disabled {
  background-color: rgba(255, 149, 20, 0.4);;
}

.app-total {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 1440px) {
  .app--inputs {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .car-price {
    width: auto;
  }

  .app-total {
    grid-template-columns: 1fr 1fr;
    column-gap: 200px;
    row-gap: 44px;
  }

  button {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .app-total {
    column-gap: 100px;
    row-gap: 34px;
  }
}

@media (max-width: 768px) {
  .App {
    padding: 20px;
    gap: 20px;
  }

  .input {
    gap: 8px;
  }

  .input--title {
    font-size: 14px;
    color: #333E48;
  }

  .car-price {
    font-size: 22px;
    color: #333E48;
  }

  .app-total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .app-total--sum, .app-total--monthly-pay {
    gap: 10px;
  }

  .app-total--sum-num, .app-total--monthly-pay-num {
    color: #333333;
    font-size: 22px;
  }

  button {
    align-self: center;
    width: 280px;
  }
}
